extends layout
append head
  script(src="/javascripts/editAnswer.js" type="module")
  script(src="/javascripts/vote.js" type="module")
  link(rel="stylesheet" href="/stylesheets/question-detail-page.css")
  link(rel="stylesheet" href="/stylesheets/answers.css")

block content
  div.heading-container
    h3.header= question.title
    div.questionButton
      if (authenticated)
        a.question-btn(href="/questions/ask" role='button') Ask Question
      else
        a.question-btn(href="/users/login" role='button') Login to ask a question
  div.question-div
    p.description= question.description
    .center
      if user && question.userId === user.id
        .editbuttons
          a.edit-btn(href=`/questions/${question.id}/edit`) Edit
          a.edit-btn( href=`/questions/${question.id}/delete`) Delete
          //- make buttons unavaiable if the question does not belong to user
  div(class='answers-div') Answers
    hr
    meta(name='csrf-token' content=csrfToken)
    if answers
      each answer in answers
        div(id=`div${answers.indexOf(answer)}` class='answers-list')
          li(id=`answer${answers.indexOf(answer)}` class='answers-li' contenteditable='false' data-questionid=answer.questionId data-answerid=answer.id)= answer.description
          div.score-container
            - var count=0
                each vote in answer.Votes
                  if vote.isVote === true
                    - count = count + 1
                  if vote.isVote === false
                    - count = count - 1
          div.score-display
            span.score(id=`score-${answer.id}`) #{count}
            div.vote
            - var voteButton=false
            each vote in answer.Votes
              if authenticated
                if vote.userId === user.id && voteButton === false
                  if vote.isVote === true
                    button.upVote(id=`upvote-${answer.id}` class='highlight') upvote
                    button.downVote(id=`downvote-${answer.id}`) downvote
                    - voteButton=true
                  if vote.isVote === false && voteButton === false
                    button.upVote(id=`upvote-${answer.id}`) upvote
                    button.downVote(id=`downvote-${answer.id}` class='highlight') downvote
                    - voteButton=true
            if authenticated
              if voteButton === false
                button.upVote(id=`upvote-${answer.id}`) upvote
                button.downVote(id=`downvote-${answer.id}`) downvote
          if user && answer.userId === user.id
            button(type="submit" id=`${answers.indexOf(answer)}` class='edit-button') edit
            button(type="submit" id=`delete${answers.indexOf(answer)}` class='delete-button') delete
            hr
    if authenticated 
      h4 Your Answer
        div
          form(method="post" action=`/questions/${question.id}/answer` id='answer-form')
            input(type="hidden", name='_csrf', value=csrfToken)
            label(for="description")
            textarea(name="description" id='text-box')
            button(type="submit" id='answer-submit') submit
      div
      if errors
        each error in errors
          li=error
