extends layout
append head
  script(src="/javascripts/editAnswer.js" type="module")
  script(src="/javascripts/vote.js" type="module")
  link(rel="stylesheet" href="/stylesheets/question-detail-page.css")
  link(rel="stylesheet" href="/stylesheets/answers.css")

block content
  div.heading-container
    h3.header= question.title
    div.questionButton
      a.question-btn(href="/questions/ask" role='button') Ask Question
  div.question-div
    p.description= question.description
    .center
      .editbuttons
        a.edit-btn(href=`/questions/${question.id}/edit`) Edit
        a.edit-btn( href=`/questions/${question.id}/delete`) Delete
        //- make buttons unavaiable if the question does not belong to user
  div(class='answers-div') Answers
    hr
    meta(name='csrf-token' content=csrfToken)
    if answers
      each answer in answers
        div(id=`div${answers.indexOf(answer)}` class='answers-list')
          div.score-container
            - var count=0
                each vote in answer.Votes
                  if vote.isVote === true
                    - count = count + 1
                  if vote.isVote === false
                    - count = count - 1
            div.score-display
              span.score(id=`score-${answer.id}`) #{count}
              div.vote
              if authenticated
                if answer.Votes.length === 0
                  button.downVote(id=`downvote-${answer.id}`) downvote
                  button.upVote(id=`upvote-${answer.id}`) upvote
              each vote in answer.Votes
                if authenticated
                  if vote.userId === user.id
                    if vote.isVote === true
                      button.downVote(id=`downvote-${answer.id}`) downvote
                      button.upVote(id=`upvote-${answer.id}` class='highlight') upvote
                    if vote.isVote === false
                      button.downVote(id=`downvote-${answer.id}` class='highlight') downvote
                      button.upVote(id=`upvote-${answer.id}`) upvote
                  if vote.userId !== user.id
                    button.downVote(id=`downvote-${answer.id}`) downvote
                    button.upVote(id=`upvote-${answer.id}`) upvote
              li(id=`answer${answers.indexOf(answer)}` class='answers-li' contenteditable='false' data-questionid=answer.questionId data-answerid=answer.id)= answer.description
          if user && answer.userId === user.id
            button(type="submit" id=`${answers.indexOf(answer)}` class='edit-button') edit
            button(type="submit" id=`delete${answers.indexOf(answer)}` class='delete-button') delete
            hr
    h4 Your Answer
      div
        form(method="post" action=`/questions/${question.id}/answer` id='answer-form')
          input(type="hidden", name='_csrf', value=csrfToken)
          label(for="description")
          textarea(name="description" id='text-box')
          button(type="submit" id='answer-submit') submit
      div
      if errors
        each error in errors
          li=error
